*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.main-body{
  margin: 1rem;
}

.nav{
  background-color: white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}
.nav a{
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: black;
}

.container-center{
  display:flex;
  line-height: 4cap;
  justify-content: space-between;

}

.form-container{
  line-height: 4cap;
  display:inline;
  font-size: 1.5rem;
}

.create-button{
  background-color: rgb(235, 165, 35);
  display:flex;
  justify-content: space-between;
}

.table-border{
  border-color: rgb(17, 30, 30);
  align-content: space-between;
}

.update-button{
  background-color: rgb(68, 173, 238);
  margin: 1rem;
}

.delete-button{
  background-color: rgb(225, 59, 70);
}